<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong><br>
  <%= @book.title %><br>
  <strong>Author:</strong><br>
  <%= @book.author %><br>
  <strong>Price:</strong><br>
  <%= @book.price %><br>
  <strong>Published:</strong><br>
  <%= @book.published %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
